$maincolor = #3d5e80
.mborder
    border solid 1px $maincolor
    color $maincolor
.mbtn
    cursor pointer
    @extend .mborder
        
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    opacity 0
  }
  100% {
    opacity 1
  }
}

// element card label
.cardlabel
  position: absolute;
  top: -40px;
  margin: auto;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 20px;